# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=""

# SUPABASE: Database & Auth
VITE_SUPABASE_URL="https://fggsdowcmauxzevwvhcm.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_pvvGMZclh3sk4zVLsFuAOA_wHe-DkDf"
SUPABASE_URL="https://fggsdowcmauxzevwvhcm.supabase.co"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_pvvGMZclh3sk4zVLsFuAOA_wHe-DkDf"

# APP_URL
APP_URL="MY_APP_URL"
